.topbar{
    width: calc(100% - 32px);
    left: 16px;
    top: 16px;
    height: 80px;
    background-color: rgb(173, 125, 48);
    position: fixed;
    border-radius: 15px;
    transition-timing-function: ease-in;
    transition: 1s;
    .wrapper{
        padding: 6px 20px;
        display: flex;
        align-items: center;

        .left{
            display: flex;
            align-items: center;
            .logo{
                font-size: 50px;
                font-weight: 500;
                text-decoration: none;
                color: inherit;
            }
            .navItems{
                display: inline-flex; 
                padding-left: 20px;
                padding-right: 30px;             
                        
            }
        }
    }
}